/*
 * Estilos de tu proyecto
 */

body{
	padding: 0px;
	margin:0 auto; 
	box-sizing: border-box;
}
/*Esta es la primera parte*/
.encabezado{
	background:	#2c3050;
	position: fixed;
	width: 100%;
}
h1{
	color:white;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
	text-transform: uppercase;
	font-family: 'Lato';

}
.folio{
	color:white;
	font-family: 'Lato';
	float: left;
	margin-left: 420px;
	margin-top: 60px;
	text-transform: uppercase;
}
.folio:hover{
	height: 17px;
	color: #66CDAA;
}
.acerca{
	color:white;
	font-family: 'Lato';
	float: left;
	margin-left: 15px;
	margin-top: 60px;
	text-transform: uppercase;
}
.acerca:hover{
	height: 17px;
	color: #66CDAA;
}
.contacto{
	color:white;
	font-family: 'Lato';
	float: left;
	margin-left: 15px;
	margin-top: 60px;
	text-transform: uppercase;
}
.contacto:hover{
	height: 17px;
	color: #66CDAA;
}
/*Esta es la segunda parte*/
.encabezado2{
	background:	#66CDAA;
}
.profile img{
	height: 200px;
	width: 200px;
	margin-left: 620px;
	margin-top: 150px;
}
.bootstrap {
	color:white;
	margin-left: 470px;
	margin-top: 7px;
	text-transform: uppercase;
	font-family: 'Monserrat';
	font-size: 35px;
}
.estrella{
	color:white;
	margin-left: 616px;
}
.estrella::before, .estrella::after{
	content:" ";
	color:white;
	width:78px;
	border:2px solid white;
	display: inline-block;
	margin-bottom: 10px;
}
.lista{
	color:white;
	margin-top: 20px;
	text-align: center;
	font-family: 'Monserrat';
	font-size: 25px;
	padding-bottom:	50px;
}
/*Esta es la segunda parte*/
.encabezado3{
	
background:	white;
}
.folio2 h3{
	color:#2c3e50;
	font-size: 30px;
	font-family: 'Lato';
	margin-left: 616px;
	text-transform: uppercase;
}
.estrella2{
	color:#2c3050;
	margin-left: 610px;
}
.estrella2:before,  .estrella2:after{
	content:" ";
	color:#2c3050;
	width:67px;
	border:2px solid #2c3050;
	display: inline-block;
	margin-bottom: 10px;
}
.cabin img{
	width:300px;
	height:300px;
	float: left;
	margin-top: 100px;
	padding-left: 230px;

}
.cake img{
	width:300px;
	height:300px;
	float: left;
	margin-top: 100px;
	padding-left: 20px;
}
.circus img{
	width:300px;
	height:300px;
	float: left;
	margin-top: 100px;
	padding-left: 20px;
}
.game img{
	width:300px;
	height:300px;
	float: left;
	margin-top: 20px;
	padding-left: 230px;
	
}
.safe img{
	width:300px;
	height:300px;
	float: left;
	margin-top: 20px;
	padding-left: 20px;
	
}
.submarine img {
	width:300px;
	height:300px;
	float: left;
	margin-top: 20px;
	padding-left: 20px;
}
/*Esta es la tercera parte*/
.encabezado4{
	background:	#66CDAA;
	height: 600px;
}
.about1{
	color:white;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Lato';
	margin-top: 800px;
	margin-left: 650px;
	padding-top: 20px; 
}
.estrella3{
	color:white;
	margin-left: 600px;
	margin-top: 2px;
}
.estrella3::before, .estrella3::after{
	content:" ";
	color:white;
	width:78px;
	border:2px solid white;
	display: inline-block;
	margin-bottom: 10px;
}
.parrafo1{
	color: white;
	display: inline-block;
	width: 340px;
	height: 300px;
	margin-left: 300px;
	font-size: 130%;
	font-family: 'Monserrat';

}
.parrafo2{
	color:white;
	display: inline-block;
	width: 340px;
	height: 300px;
	margin-left: 90px;
	font-size: 130%;
	font-family: 'Monserrat';
}
.download {
	border:2px solid white;
	background-color:#66CDAA;
	color:white; 
	font-family:'Monserrat';
	font-size: 20px;
	border-radius: 4px; 
	margin-left: 600px;
	width: 210px;

}
.download i, .download p{
	display: inline-block;
	padding-left: 1px;
	margin-bottom: 20px;
}
/*Esta es la quinta parte*/
.encabezado5{
	background: white;
	height: 650px;
}

.contact{
	color: black;
	text-transform: uppercase;
	font-size: 40px;
	font-family: 'Lato';
	text-align: center;
}
.estrella4{
	color:#2c3050;
	margin-left: 600px;
}
.estrella4::before, .estrella4::after{
	content:" ";
	color:#2c3050;
	width:78px;
	border:2px solid #2c3050;
	display: inline-block;
	margin-bottom: 10px;
}
.contenedor1{
	font-family:'Monserrat';
	font-size: 17px;
	margin-left: 380px;
	margin-top: 5px;
	color: grey;
}
.message{
	margin-bottom:100px; 
}
hr{
	width: 400px;
	color: grey;
	display: inline-block;
}
.send{
	border:2px solid #66CDAA;
	background-color:#66CDAA;
	color:white; 
	font-family:'Monserrat';
	font-size: 15px;
	border-radius: 3px;
	display: inline inline-block;
	margin-left: 350px;
	width: 50px;
	text-align: center;
	margin-top: 20px;
}
/*Esta es la ultima parte*/
.encabezado6{
	background:#2c3050;s
}
.location{
	font-size: 15px;
	font-family: 'Lato'; 
	color:white;
	position: relative;
	left: 300px;
	top: 30px;
	text-transform: uppercase;
	display: inline-block;
}
.melrose{
	font-size: 15px;
	font-family: 'Monserrat';
	color:white;
	width: 130px;
	position: relative;
	left: 300px;
	top: 15px;
}
.around1{
	font-size: 15px;
	font-family: 'Lato';
	color:white;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	bottom: 108px;
	left: 518px;
}
.around2 {
	color: white;
	position: relative;
	left: 400px;
	bottom: 70px;
	display: inline-block;
}	
.freelancer1{
	font-size:15px; 
	font-family: 'Lato'; 
	color:white;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	bottom: 111px;
	left: 570px;
}
.freelancer2{
	font-size: 15px;
	font-family: 'Monserrat'; 
	color:white;
	width: 180px;
	position: relative;
	left: 790px;
	bottom:118px;
}
.freelancer2 h4{
	color: #66CDAA;
	position: relative;
	left: 70px;
	bottom: 36px;
}
.copyright{
	font-size: 12px;
	font-family: 'Monserrat'; 
	color:white;
	position: relative;
	left: 530px;
	bottom: 50px;
	display: inline-block;
}